---
layout: home
homescripts: true
---
<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Shinwoo Kim</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
       <div class="navbar-nav">
          <a class="nav-link scrollto js-scroll-trigger about" href="#about">about</a>
          <a class="nav-link scrollto js-scroll-trigger experience" href="#experience">experience</a>
          <a class="nav-link scrollto js-scroll-trigger" href="Resume.pdf">résumé</a>
          <a class="nav-link scrollto js-scroll-trigger contact "  href="#contact">contacts</a>
       </div>
    </div>
 </nav>
 <!--Home-->
 
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
       <h1 class="custom-font">Shinwoo Kim</h1>
    </div>
    <div class="hero-container justify-content-center align-items-center">
       <p>I'm a <span class="typed" data-typed-items="Software Developer,Pitt Student, Educator"></span></p>
    </div>
    <a href="#about" style="font-size: 3rem; color:white; z-index: 2;">
    <i class="fas fa-chevron-down"></i>
    </a>
 </section>
 <section>
   <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col col-6 col-t-12 last-item">
            <div class="hero__content">
              <h1 class="hero__title">Hello, I’m <strong>Alex Rodriguez</strong></h1>
              <p class="hero__subtitle">Designs, talks, and writes about <strong>web</strong>, <strong>ethics</strong>, <strong>privacy</strong>, and dev. I share design tutorials, free resources and inspiration. Loves <a href="#">music</a> &amp; riding his bicycle.</p>
              <div class="hero__social">
                <span class="hero__social-title">Follow Me |</span>
                <div class="contact">
      <ul class="contact__list list-reset">
        
          <li><a href="https://twitter.com/"><i class="ion ion-logo-twitter"></i></a></li>
        
    
        
          <li><a href="https://facebook.com/"><i class="ion ion-logo-facebook"></i></a></li>
        
      
        
          <li><a href="https://dribbble.com/"><i class="ion ion-logo-dribbble"></i></a></li>
        
      
        
          <li><a href="https://instagram.com/"><i class="ion ion-logo-instagram"></i></a></li>
        
      
        
          <li><a href="https://pinterest.com/"><i class="ion ion-logo-pinterest"></i></a></li>
        
      </ul>
    </div>
              </div>
            </div>
          </div>
          <div class="col col-6 col-t-12">
            <div class="hero__image">
              <img src="/images/01.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>
 <!--About-->
 <section id="about">
    <div>    
    <div>
       <h2 class="mt-5">about me</h2>
       <p>I am an undergraduate student at the <a href="https://pitt.edu">University of Pittsburgh&#39;s</a> <a href="https://sci.pitt.edu">School of Computing and Information</a> and the <a href="https://www.honorscollege.pitt.edu/">University Honors College</a> studying <strong>computer science</strong> and <strong>mathematics</strong>. I&#39;m originally from Seoul, South Korea, and have lived in many amazing places including Pacific Grove (California), Philadelphia, and Pittsburgh. </p>
       <p>I have a passion for teaching. I was the President of the Tutoring Program at North Penn Senior High School, and I was the Co-Founder/Instructor of the school&#39;s free SAT&reg; prep class. Recently, I taught the <a href="https://www.comptia.org/certifications/a">CompTIA A+ Certificate</a> course to high school students in Pittsburgh’s Hill District. </p>
       <p>My research interests are in the field of Artificial Intelligence, Machine Learning, and Natural Language Processing although there are very few things in computer science that I&#39;m <em>not</em> interested in.</p>
       <p>Outside of school, I enjoy spending most of my time outdoors. In the winter, I am an avid skier. And during the warmer months, I enjoy hiking. When forced indoors, I spend my time watching movies and television shows.</p>
       <div class="text-center social-icons">
          <a class="social-icon" href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
          <a class="social-icon" href="https://linkedin.com/in/{{ site.linkedin_username }}"> <i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon" href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
          <a class="social-icon" href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
          <a class="social-icon" href="https://instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram"></i></a>
       </div>
       <div class="text-center">
          <a href="{{ site.baseurl }}/Resume.pdf" type="button" class="mt-3 btn btn-dark btn-lg btn-block">Résumé</a>
          <a href="{{ site.baseurl }}/contact/" type="button" class="mt-3 btn btn-dark btn-lg btn-block">Contact Me</a>
       </div>
       <h3>education</h3>
       <div class="p-3 w-100">
          <h4 class="mb-0">University of Pittsburgh</h4>
          <h5 class="mb-0">School of Computing and Information + University Honors College</h5>
          <p>August 2021 - (Expected) May 2026 <br> Bachelor of Science - Computer Science <br>GPA: 4.0 (as of FALL 2021) </p>
       </div>
       <div class="p-3 w-100">
          <h4 class="mb-0">North Penn High School</h4>
          <p>August 2018 - June 2021
             <br>GPA: 4.18 <br>9 Advanced Placement(AP®) Credits
          </p>
       </div>
    </div>
 </section>
 <section class="justify-content-center" id="experience">
    <div class="w-100">
       <div class="mb-3">
           <h2>experience</h2>
          <p class="lead"> Please visit my <a href="https://linkedin.com/in/kimshinwoo">LinkedIn</a> for the most up-to-date information </p>
       </div>
       <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="flex-grow-1">
             <h3 class="mb-0">Webmaster, Web Developer</h3>
             <p class="subheading mb-1"><a href="https://touchtheinvisible.com">Touch the Invisible</a> — University of Pittsburgh Research Project</p>
             <p class="mb-0">
                I worked with Dr. Zuzana Swigonova(University of Pittsburgh, Department of Biology) and her team in creating a free, open-source library of macromolecular complexes which can be 3d-printed, or viewed online for classroom educational purposes. I created a <a href="https://touchtheinvisible.com">website</a> which displays the 3D macromoleculear models and the accompanying information sheet using open source APIs. In addition, I created a content-management-system(CMS) to manage all the assets and to allow for non-technical staff members to edit the website without learning to code.    
             </p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">March 2022 — Present</span></div>
       </div>
       <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="flex-grow-1">
             <h3 class="mb-0">Diversity Recruitment Education and Mentoring (DREAM) Team</h3>
             <p class="subheading mb-1">University of Pittsburgh — Office of Admissions and Financial Aid</p>
             <p class="mb-0">
                I assisted the Office of Admissions and Financial Aid with college access and diversity efforts. My duties involved assisting with managing the Pittsburgh Admissions Collaboration, which hosts college preparation workshops. I served as a mentor to local Pittsburgh Public School students through the PAC program and assist with facilitating PAC sessions.
             </p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">October 2021 — January 2022</span></div>
       </div>
       <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="flex-grow-1">
             <h3 class="mb-0">S.T.E.A.M. Ambassador</h3>
             <div class="subheading mb-1">University of Pittsburgh Honors College (w/ Office of Engagement and Community Affairs)</div>
             <p class="mb-0">
                Working in concert with the Hill CEC’s director and outreach coordinator, I supported existing programming through:
             </p>
             <blockquote class="mb-0">
                <ul class="mb-0">
                   <li>creating marketing and recruitment materials</li>
                   <li>supporting planning meetings with university and community partners</li>
                   <li>monitoring program implementation - updating website</li>
                   <li>development and tracking of pre/post surveys</li>
                </ul>
             </blockquote>
             I supported new programming by:
             <blockquote class="mb-0">
                <ul class="mb-0">
                   <li>liaising with collaborative student groups at the University</li>
                   <li>helping to facilitate conversations with collaborative faculty and staff at the University</li>
                   <li>helping to facilitate, and participating in, co-creation activities with university and community partners</li>
                   <li>identifying potential S.T.E.A.M. resources at the University for involvement with the CECs Digital Equity and Inclusion efforts through the S.T.E.A.M. Studio.</li>
                </ul>
             </blockquote>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">October 2021 — January 2022</span></div>
       </div>
       <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="flex-grow-1">
             <h3 class="mb-0">COMPTIA A+ Instructor</h3>
             <div class="subheading mb-1">University of Pittsburgh — SCI Community Engagement</div>
             <p>I Developed the curriculum and course materials for CompTIA A+ certification class; and Taught CompTIA A+ certification class to Hills district high school students.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">August 2021 — January 2022</span></div>
       </div>
       <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="flex-grow-1">
             <h3 class="mb-0">President & Academic Tutor</h3>
             <div class="subheading mb-1">Academic Discussion and Peer Tutoring at North Penn High School</div>
             <p> I created and implemented a virtual tutoring program; I utilized GSuite to manage over 50 volunteer academic tutors. I tutored 15 students in math and science, resulting in their improved grades. I also created the groundwork
                for a tutoring center partnership between the North Penn High School and its surrounding middle and elementary schools
             </p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">September 2019 - June 2021</span></div>
       </div>
       <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
             <h3 class="mb-0">SAT Instructor</h3>
             <div class="subheading mb-1">ADAPT SAT Class at North Penn High School</div>
             <p>I co-founded a SAT Class run by the Academic Discussion and Peer Tutoring Program, creating course materials and teaching a class of over 60 students via Google Meet. I organized the curriculum and helped to improve scores by an
                average over 40 points increase, getting about a 90 percent approval rate from students.
             </p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">September 2019 - June 2021</span></div>
       </div>
    </div>
 </section>
 <section id="contact">
    <div class="w-100">
       <h1 class="text-center">Contacts</h1>
       <div class="social-icons text-center">
          <a class="social-icon" href="mailto:shinwookim@pitt.edu"><i class="fas fa-envelope"></i></a>
          <a class="social-icon" href="https://linkedin.com/in/kimshinwoo"><i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon" href="https://github.com/shinwookim"><i class="fab fa-github"></i></a>
       </div>
       <!-- Wrapper container -->
       <div class="container">
          <form id="contactForm" action="https://formspree.io/f/xwkagvap" method="POST">
             <!-- Name input -->
             <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" name="name" id="name" type="text" placeholder="Name" />
             </div>
             <!-- Email address input -->
             <div class="mb-3">
                <label class="form-label" for="email">Email Address</label>
                <input class="form-control" name="email" id="email" type="email" placeholder="Email Address" />
             </div>
             <!-- Message input -->
             <div class="mb-3">
                <label class="form-label" for="msg">Message</label>
                <textarea class="form-control" id="msg" name="message" placeholder="Message" style="height: 10rem;"></textarea>
             </div>
             <!-- Form submit button -->
             <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
             </div>
          </form>
       </div>
    </div>
 </section>
 {% if site.posts.size > 0 %}
 <section id="posts">
    <h2>thoughts</h2>
   {% include preview.html %}
 </section>
 {% endif %}

 {% include footer.html %}