@charset "UTF-8";

@font-face {
    font-family: 'Highway-Gothic-Expanded';
    src:url('font/highway/Highway-Gothic-Expanded.ttf.woff') format('woff'),
        url('font/highway/Highway-Gothic-Expanded.ttf.svg#Highway-Gothic-Expanded') format('svg'),
        url('font/highway/Highway-Gothic-Expanded.ttf.eot'),
        url('font/highway/Highway-Gothic-Expanded.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Newston Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Newston Normal'), url('font/NewstonnormalRegular-6Y8jx.woff') format('woff');
}
/* Add a black background color to the top navigation */
 .topnav {
     background-color: #242424;
     overflow: hidden;
}
/* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 0.6em;
     text-decoration: none;
     font-family: "Highway-Gothic-Expanded";
     font-size: 17px;
}
/* Change the color of links on hover */
 .topnav a:hover {
     background-color: #34669f;
     color: white;
}
/* Title Link */
 .topnav a.logo {
     background-color: #750a0b;
     color: white;
     font-weight: 500;
     color: white;
     /*font-family: 'Georgia';*/
     font-size: 2em;
     padding: 0em 0.5em;
}
/* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
     display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {
        display: none;
    }
     .topnav a.icon {
         float: right;
         display: block;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
 @media screen and (max-width: 600px) {
     .topnav.responsive {
        position: relative;
    }
     .topnav.responsive a.icon {
         position: absolute;
         right: 0;
         top: 0;
    }
     .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
    }
}
img{
    display: block;
    max-width: 100%;
}
h1{
	margin:0;
}

.btn{
	display:inline-block;
	padding:.5em 2.5em;
	background:#34669f;
	color:white;
	text-decoration:none;
	cursor:pointer;
	font-size:.8rem;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:var(--fw-bold);
	transition:transform .2s ease-in-out
}
.btn:hover{
	transform:scale(1.1)
}
ul{
  margin: 10px 0;
}
p{
  margin: 0px 0px;
}
h3{
  margin:15px 0px 0px 0px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapse {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
