<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5" id="mainNav">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Shinwoo Kim</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="navbar-nav">
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/about/">About</a>
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/experience/">Experience</a>
          <a class="nav-link js-scroll-trigger" href="Resume.pdf">Résumé</a>
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/contact/">Contacts</a>
        </div>
    </div>
  </nav>
</header>