{% assign current = page.url | downcase | split: '/' %}
<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5" id="mainNav">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Shinwoo Kim</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="navbar-nav">
          <a class="nav-link {% if current[1] == 'about' %}active{% endif %}"  href="{{ site.baseurl }}/about/">about</a>
          <a class="nav-link {% if current[1] == 'experience' %}active{% endif %}" href="{{ site.baseurl }}/experience/">experience</a>
          <a class="nav-link" href="{{ site.baseurl }}/Resume.pdf">résumé</a>
          <a class="nav-link {% if current[1] == 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact/">contacts</a>
        </div>
    </div>
  </nav>
</header>