<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='{{ site.baseurl }}/feed.xml' rel='alternate' type='application/atom+xml'>
    {% seo %}
     <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
 <link rel="stylesheet" href="{{ '/assets/css/ET.css' | prepend: site.baseurl }}">


 <!-- Fonts -->
 <script src="https://kit.fontawesome.com/ad13315ac8.js" crossorigin="anonymous"></script>
 <!-- Favicon -->
 <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-32x32.png' | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-16x16.png' | prepend: site.baseurl }}">

 <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
