<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
   <a class="navbar-brand autography" style="" href="{{ '/' | prepend: site.baseurl }}">Shinwoo Kim</a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarResponsive">
      <div class="navbar-nav ms-auto">
         <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' |prepend: site.baseurl }}">Home</a>
         <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="{{ '/about' | prepend: site.baseurl }}">About</a>
         <a class="nav-link {% if page.url == '/experience/' %}active{% endif %}" href="{{ '/experience' | prepend: site.baseurl }}">Experience</a>
         <!--a class="nav-link {% if page.url == '/blog/' %}active{% endif %}" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a-->
         <a class="nav-link {% if page.url == '/contacts/' %}active{% endif %}"  href="{{ '/contacts' | prepend: site.baseurl }}">Contact</a>
      </div>
   </div>
</nav>
   