<div class="text-center text-md-end">
  <div class="my-0 h1">
    <a class="league text-decoration-none" href='{{"/" | relative_url }}'>
      SHINWOO<br />KIM
    </a>
  </div>
  <div class="h2 my-0">
    <code class="text-primary w-100">
      <span
        class="typed"
        data-typed-items="Software Engineer, Developer, Pitt Panther, Educator, Computer Scientist"
      >
      </span>
    </code>
  </div>
  <div class="mb-0">
    <a class="social-icon" href="mailto:{{ site.email }}">
      <i class="fas fa-envelope"> </i>
    </a>
    <a
      class="social-icon"
      href="https://linkedin.com/in/{{ site.linkedin_username }}"
    >
      <i class="fab fa-linkedin-in"> </i>
    </a>
    <a class="social-icon" href="https://github.com/{{ site.github_username }}">
      <i class="fab fa-github"> </i>
    </a>
    <a
      class="social-icon"
      href="https://twitter.com/{{ site.twitter_username }}"
    >
      <i class="fab fa-twitter"> </i>
    </a>
    <a
      class="social-icon"
      href="https://instagram.com/{{ site.instagram_username }}"
    >
      <i class="fab fa-instagram"> </i>
    </a>
  </div>
</div>
<nav class="d-block mb-4 p-0 navbar navbar-expand-md navbar-light text-center">
  <button
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="mt-3 navbar-toggler collapsed"
    data-bs-target="#navbar"
    data-bs-toggle="collapse"
    type="button"
  >
    <!--i- class="fas fa-bars"></i-->Menu
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="flex-column ms-md-auto mt-3 nav text-center text-md-end">
      {% for item in site.data.nav.links %} {% if item.url=='#' %}
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle {% if item.active contains page.url and page.url!='/' %}this{% endif %}"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{item.title}}
        </a>
        <ul class="dropdown-menu">
          {% for entry in item.subfolderitems %} {% if entry.url == '#' %}
          <li>
            <hr class="dropdown-divider" />
          </li>
          {% else %}
          <li>
            <a class="dropdown-item" href="{{site.baseurl}}{{entry.url}}"
              >{{entry.page}}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="nav-item">
        <a
          class="nav-link {% if page.url == item.url %}this{% endif %}"
          href="{{site.baseurl}}{{item.url}}"
          >{{item.title}}</a
        >
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</nav>
{% include typed_js.html %}
