@charset "UTF-8";
:root {
	--bs-primary: #000;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #212529;
	--bs-body-bg: #fff;
}



@font-face {
	font-family: 'Autography';
	src: url('../assets/font/Autography/Autography.woff2') format('woff2'), url('../assets/font/Autography/Autography.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

h6, h5, h4, h3, h2, h1{
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 1.2;
}

h1.custom-font {
	font-family: 'Autography';
	font-size: 80px;
	font-weight: normal;
	font-style: bold;
}

.p {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
	font-style: normal;
}
a{
	color:var(--bs-warning);
}
a:hover{
	color:var(--bs-secondary);
}

.dropcap{
	font-size: 1.3em;
}
.nav-link {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
}

@media(max-width: 992px) {
	.nav-link {
		margin-left: 1rem;
		margin-right: 1rem
	}
	.bg-custom {
		background-color: black;
	}
}



.nav-link:hover { 
	color: white;
	background-color: rgba(100, 100, 100, 0.5);
	border-bottom: thick solid white;
}

.navbar-brand {
	font-family: 'Autography';
	font-size: 30px !important;
	margin-left: 1rem;
}


.bg-custom.scrolled {
	background: black !important;
    transition: 0.75s ease;
}


section {
	display: flex;
	align-items: center;
	padding: 1em;
	width: 100%;
	border-bottom: thin solid #6c757d;
}

@media (min-width: 992px) {
	section {
		padding: 6em;
		min-height: 100vh;
	}
}

.active {
	color: white;
	background-color: rgba(100, 100, 100, 0.5);
	border-bottom: thick solid white;
}

#hero {

	width: 100;
	height: 100vh;
	background: url("../assets/img/hero-bg.webp") top center;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}

#hero:before {
	content: "";
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#hero .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
}

#hero h1 {
	color: #fff;
}

#hero p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

#hero p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #fff;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

.social-icons .social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #000;
	color: #fff;
	border-radius: 100%;
	font-size: 1.5rem;
	margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
	margin-right: 0;
}

.social-icons .social-icon:hover {
	background-color: var(--bs-secondary);
}