@font-face {
  font-family: "Autography";
  src: url("../assets/fonts/Autography/Autography.woff2") format("woff2"),
    url("../assets/fonts/Autography/Autography.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.autography {
  font-family: "Autography";
  font-weight: normal;
}
.titillium {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
.titillium-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  line-height: 54pt;
}

.NAME {
  font-family: "League Gothic", sans-serif;
  font-weight: 700;
  font-size: 62pt;
  line-height: 54pt;
  color: #000000;
}


.about {
  line-height: 1.6;
  font-weight: 100;
  font-size: 13.6pt;
}
