@font-face {
	font-family: 'Autography';
	src: url("../assets/fonts/Autography/Autography.woff2") format('woff2'), url("../assets/fonts/Autography/Autography.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.autography {
	font-family: 'Autography';
	font-weight: normal;
}
.titillium{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}
.titillium-bold{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
}
.syne{
	font-family: 'Syne', sans-serif;
}