.site-footer {
  padding: 1em;
  position: sticky;
  min-height: 7.5vh;
}
.footer-heading {
  font-family: "Autography" !important;
  @extend .h2;
}
.footer-text {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
