.site-footer {
    padding: 1em;
    position: sticky;
    min-height: 13vh;
}
.footer-heading {
    font-family: "Autography" !important;
}
.footer-text {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
}
  