.site-footer {
  padding: 1em;
  position: sticky;
  //min-height: 10em;
  @extend .my-4;
}
.footer-heading {
  font-family: "Autography" !important;
  @extend .h2;
}
.footer-text {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
}
