.navbar-brand{
    padding:0rem 1.5rem; margin:0;
    font-size: 2rem;
}

.nav-link{
	font-family: 'Playfair Display', serif;
}
.nav-link:hover{
    border-bottom: thick solid #fff;
    color: white;
}
.active{
    border-bottom: thick solid #fff;
    color: white;
}