.badge-custom{
    color: antique-white;
    background-color: #ffc107;
}
.badge-custom:hover{
    background-color: #6c757d;
}
.hidden{
    display: none;
}
.selected{
    background-color: #6c757d;
}
