.badge-custom{
    color: antique-white;
    background-color: #ffc107;
}
.badge-custom:hover{
    background-color: #6c757d;
}
.hidden{
    display: none;
    transition: display 2s ease;
}
.selected{
    background-color: #6c757d;
}
.pagination {
	display: flex;
}
.previous, a.previous {
	flex: 1;
}
.page_number {
	flex: 1;
}


next, a.next {
	flex: 1;
}

.pager{
    margin-left: 2em;
    margin-right: 2em;
}