.toc{
    line-height: 100%;
    margin: 0;
    padding: 0;
    border-left: thick solid #212529;
    padding-left: 5px;
    transition: border-color 0.5s ease 0s;
    
}
.toc:hover{
    border-left: thick solid #dc2828
}
.toc a{
    text-decoration: none;
    
}
.toc ul{
    padding-left: 10px;
}
.toc li{
    padding-top: 5px;
    list-style-type: none;  
    padding-bottom: 5px;
}
.fixed{
    position: sticky;
    top:100px;  
}

.f-75{
  font-size: .8em;  
}

@media (max-width: 767px) {
    .toc {
      display: none;
    }
}