---
---

@import "bootstrap";
@import "../_sass/tufte/syntax-highlighting";
// @import "customnav";
@import "footer";
@import "global";
@import "fonts";

p.indent {
  text-indent: 30px;
}
body {
  background-color: #fffff8;
}

body {
  font-size: 13.2pt;
}
