---
---
@import "styles";

body, .btn {
	font-family: "Libre Baskerville", Libre, Georgia,Times,serif;
}
a{
  transition: all 0.5s;
}

// Navigation Custom Styling
.navbar{
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  
  
}
.navbar-brand{
    font-size: 2em;
    font-weight: 900 !important;
    padding:0;
    transition: color 1s ease 0s; 
}
.navbar-brand:hover{
  color: $primary !important;
}
.nav-link{
  font-family: 'Cormorant Garamond', serif;
  transition: all 0.5s;
}
.nav-link:hover{
    border-bottom: 4px solid black;
    color: black;
}

.active{
    border-bottom: 4px solid black;
    color: black;
}
// Offset navigation covering top of page

body {
    margin-top: 74px;
  }
  @media (max-width: 979px) {
    body {
      margin-top: 0px;
    }
}

/* Footer */
.site-footer { 
  padding: 1em;
  position: sticky; 
  min-height: 13vh;
}
.footer-heading{
  font-family: 'Autography' !important;
}
.footer-text{
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
}
/*
body{
  margin-bottom: 120px;
}
*/
#page-container {
  position: relative;
  min-height: 85vh;
  margin-top: 4em;
}

/* About Me Page Image */
.floater {
	float: left;
	display: block;
  margin-right: 1em;
	margin-bottom: 5px;
}



h6, h5, h4, h3, h2, h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  font-style: normal;
  line-height: 1.2;
}

.badge-custom{
  color: antique-white;
  background-color: #ffc107;
}
.badge-custom:hover{
  background-color: #6c757d;
}
.hidden{
  display: none;
  transition: display 2s ease;
}
.selected{
  background-color: #6c757d;
}
.pagination {
display: flex;
}
.previous, a.previous {
flex: 1;
}
.page_number {
flex: 1;
}


next, a.next {
flex: 1;
}

.pager{
  margin-left: 2em;
  margin-right: 2em;
}

.slender{
    border: 0;
    height: 1px;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

input, textarea { 
  //border: thin none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

table {
  @extend .table;
}

hr {
  @extend .slender;
}

blockquote {
  @extend .blockquote, .p-2, .mb-2, .bg-light, .border, .rounded-3;
  font-size: 1em !important;
}

p, ul{
  margin-bottom: 0;
}

.small-caps{
  font-variant: small-caps;
}

@media(min-width: 768px){
  .side-menu{
    position: fixed;
  }
  .left-border-side{
    border-left: 1px rgba(0, 0, 0, 0.05) solid;
  }
}
@media(max-width: 768px){
  .side-menu{
    display: none;
  
  }
  
}
@media print
{    
    .no-print,hr, .no-print, .print-button *
    {
        display: none !important;
    }
    #page-container{
      margin-top: 0;
    }
    #main-withsidebar {
      border:none !important;
    }
    h1,h2,h3,h4,h5,h6,table > *{
      margin: 0;
      padding: 0;
    }
  }


html {
  scroll-padding-top: 4em;
}

.printmode *
{
    display: none !important;
    margin: 0;
    padding: 0;
}

