---
---

@import "bootstrap";
@import "../_sass/tufte/syntax-highlighting";
@import "footer";
@import "global";
@font-face {
  font-family: "Autography";
  src: url("../assets/fonts/Autography/Autography.woff2") format("woff2"),
    url("../assets/fonts/Autography/Autography.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.autography {
  font-family: "Autography";
  font-weight: normal;
}

.league {
  font-family: "League Gothic", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
}

.nav-link {
  /* font-family: "Helvetica", "Arial", sans-serif;*/
  font-family: ETbook, "Libre Baskerville", Libre, Georgia, Times, serif;
  color: #303539;
  font-size: 1.2em;
}
.this {
  font-weight: bold;
}

body {
  background-color: #fffff8 !important;
}
