---
layout: page
title: Blog
---

{% include search.html %}
<!--
<div class="text-center mb-1">
  <span class="badge badge-custom selected viewAll">View all</span>
  {% for tag in site.data.tags %}
    <span class="badge badge-custom" data-tag="{{tag}}">{{ site.data.tags_format[tag] }}</span>
  {% endfor %}
</div>
-->
<div class="container p-5 pt-0">
  {% for post in paginator.posts %}
  <div class="post-wrapper">
  <article>
    <hr class="slender"/>
     <a class="text-decoration-none" href="{{ post.url| prepend: site.baseurl }}">
        <h4 class="mb-0">{{ post.title }}</h4>
     </a>
     <p class="mb-0">
        <time class="mb-5" datetime="{{ post.date | date: '%B %-d, %Y' }}">{{ post.date | date: "%B %-d, %Y" }}</time> &middot; {% include read_time.html content=post.content %}
     </p>
     <p>{{post.content | strip_html | truncatewords: 25 }}</p>
  </article>
  
</div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}

<div class="d-flex flex-row justify-content-between">
  
  <a class="btn btn-primary {% unless paginator.previous_page %}disabled{% endunless %}" href="{{ paginator.previous_page_path | prepend: site.baseurl}}">&larr;
    Newer Posts
  </a>
  
  
  <p>Page {{paginator.page}} of {{paginator.total_pages}}</p>

  
  <a class="btn btn-primary {% unless paginator.next_page %}disabled{% endunless %}" href="{{ paginator.next_page_path | prepend: site.baseurl}}">Older Posts&rarr;</a>
  

</div>

{% endif %}
<div style="height: 10px"></div>
<script>
  $("[data-tag]").click((e) => {
    currentTag = e.target.dataset.tag;
    filterByTagName(currentTag);
  })
  function filterByTagName(tagName) {
    $('.hidden').removeClass('hidden');
    $('.post-wrapper').each((index, elem) => {
      if (!elem.hasAttribute(`data-${tagName}`)) {
        $(elem).addClass('hidden');
      }
    });
    $(`.badge`).removeClass('selected');
    $(`.badge[data-tag=${tagName}]`).addClass('selected');
  }
  $(".viewAll").click((e) => {
    $(`.badge`).removeClass('selected');
    $(`.viewAll`).addClass('selected');
    $('.hidden').removeClass('hidden');
  })
</script>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      tex: {packages: {'[+]': ['hyphenat']}}
    },
    svg: {
      fontCache: 'global',
      linebreaks: { automatic: true },
    },
    CommonHTML: { linebreaks: { automatic: true } },
     "HTML-CSS": { linebreaks: { automatic: true } },
  };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
