---
layout: default
---

<div class="container" id="page-container">
  <div
    class="mx-auto border px-5 py-3 mb-3 col-12 col-lg-9"
    id="main-withsidebar"
  >
    {%if page.navi%}
    <nav class="navbar navbar-expand-lg bg-light mb-2">
      <div class="container-fluid">
        <a
          class="navbar-brand h1"
          href="{{site.baseurl}}{{site.data[page.navi_links].main_link}}"
          >{{page.navi_title}}</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% for item in site.data[page.navi_links].links %}
            <li class="nav-item">
              <a
                class="nav-link {% if page.url == item.url %}active{% endif %}"
                href="{{site.baseurl}}{{item.url}}"
                >{{item.title}}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    {%endif%}
    <div class="h2">{{ page.title }}</div>
    <div class="h4">{{ page.subtitle }}</div>
    <hr />
    <div class="row">
      <div class="col-12 col-lg-9 text-start">
        <p>{{ page.blurb }}</p>
      </div>
      <div class="border-start col-3 d-none d-lg-block">
        <span class="ms-1"><strong>Quick Links</strong></span>
        {% include toc.html html=content ordered=true item_class="tdn" %}
      </div>
      <hr />
    </div>
    {{ content }}
    <button
      onclick="topFunction()"
      id="top-btn"
      class="btn btn-dark"
      title="Go to top"
    >
      Top
    </button>
  </div>
</div>
<link rel="stylesheet" href="{{"/assets/bs_nav.css" | absolute_url }}">
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-variant: small-caps;
    font-family: "Computer Modern Serif", serif;
    margin-bottom: 0;
  }

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  table {
    margin-bottom: 0;
  }

  tdn.a {
    text-decoration: none;
  }
</style>
