---
layout: default
---

<div class="container" id="page-container">

  <div class="mx-auto border px-5 py-3 mb-3 col-12 col-lg-9" id="main-withsidebar">
    <div class="h1">{{ page.title }}</div>
    <div class="h4"><em>{{ page.subtitle }}</em></div>
    <div><a class="h6 text-decoration-none" href='{{"/" | relative_url }}'>Shinwoo Kim, TA</a></div>
    <hr>
    <div class="row">
      <div class="col-12 col-lg-9 text-start">
        <p>
          {{ page.blurb }}
        </p>
      </div>
      <div class="border-start col-3 d-none d-lg-block">
        <span class="ms-1"><strong>Quick Links</strong></span>
        {% include toc.html html=content ordered=true item_class="tdn" %}
      </div>
      <hr>
    </div>




    {{ content }}
  </div>



</div>
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-variant: small-caps;
    font-family: "Computer Modern Serif", serif;
    margin-bottom: 0;
  }

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }

  table {
    margin-bottom: 0;
  }

  tdn.a {
    text-decoration: none;
  }
</style>