<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper" style="z-index: 1;" id="hero">
      
      {% include header.html %}

      <div class="container">
        {{ content }}
        {% include banner.html %}
    
      </div>
    
    </main>

    {% include scripts.html %}
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        invertNav();
      });
      function invertNav() {
        var element = document.getElementById("mainNav");
        element.classList.remove("bg-dark");
        element.classList.add("bg-transparent");
        var element = document.getElementById("banner");
        //element.classList.add("bg-transparent");
        element.classList.remove("alert");
        element.classList.remove("alert-info");
        element.style.color = "#fff";
        element.style.fontWeight = "bold";


      }
    </script>
  </body>

</html>
