<!DOCTYPE html>
<html lang="en">
  {% include head.html %} {% include styles.html %}
  <body>
    <div class="container align-items-center mb-5">
      <div class="row">
        <aside class="col-md-4 pe-md-5">
          <header class="sticky-top" style="padding-top: 74px">
            {% include sidenav.html %}
          </header>
        </aside>
        <main class="col-md-8 ps-md-5" style="padding-top: 74px">
          <h1>{{page.title}}</h1>
          <article>{{ content }}</article>
          <button
            onclick="topFunction()"
            id="top-btn"
            class="btn btn-dark"
            title="Go to top"
          >
            Top
          </button>
        </main>
      </div>
    </div>
    {% include footer.html %}{% include scripts.html %} {% include
    google-analytics.html %}
  </body>
</html>
