<!DOCTYPE html>
<html>
   {% include headET.html %}
   <body>
      <h1><a class="text-center autography text-decoration-none" href="{{ '/' | prepend: site.baseurl }}">Shinwoo Kim</a></h1>
      <div class="post-nav" style="padding-left: 5em">
         {% if page.next.url %}
           <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; Prev</a>
         {% endif %}
         {% if page.previous.url %}
           <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">Next &raquo;</a>
         {% endif %}
       </div>
      <main class="wrapper mt-5">
         <div class="main-container container">
            <a style="text-decoration: none;" href="{{ '/blog/' | prepend: site.baseurl }}">⬅</a>
            <h1 style="margin-top: 0">{{page.title}}</h1>
            <p class="subtitle">{{page.subtitle}}</p>
            {{ content }}
            
            <div class="mini-note" id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://shinwookim.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
         </div>
         <footer class="site-footer">
                <h2 class="autography">Shinwoo Kim</h2>
                <p class="mb-0" style="font-size: 0.75em">&copy; 2021-2022 Shinwoo Kim. All Rights Reserved.</p>
                <p class="mb-0" style="font-size: 0.75em"><a href="{{ '/blog/' | prepend: site.baseurl }}">Return to Home</a></p>
        </footer>
      </main>
      {% include scripts.html %}
      <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           extensions: ["tex2jax.js", "TeX/AMSmath.js"],
           jax: ["input/TeX", "output/SVG"],
           tex2jax: { inlineMath: [['$', '$']] }
         })
       </script>
       <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
   </body>
</html>