---
layout: page
full_width: true
---

<style>
  img {
    transition: 0.5s ease;
    margin: auto;
    border-radius: var(--bs-border-radius) !important;
  }

  table {
    margin: auto;
  }

  img:hover {
    scale: 1.01;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
<h1>{{ page.title }}</h1>
<p class="subtitle mb-3 mt-0">{{ page.subtitle }}</p>
<div class="mb-2">
  {%for tag in page.tags %}
  <span class="badge rounded-pill text-bg-info mx-1">{{tag}}</span>
  {%endfor%}
</div>

{% include anchor_headings.html html=content anchorBody="¶"
anchorClass="anchor-link"%}