<!DOCTYPE html>
<html lang="en">

<head>
  {% include metadata.html %} {% include scripts.html %}
  <link rel="stylesheet" href='{{"/assets/css/style.css" |  absolute_url }}' />
  <link rel="stylesheet" href=' {{"/assets/css/tufte.css" | absolute_url }}' />
</head>

<body data-bs-spy="scroll" rootMargin="0px 100px 0%">
  <!--- Header and nav template site-wide -->
  <div class="text-center">
    {% if page.nav %}
    <header class="text-center">
      <nav class="mx-auto group navbar navbar-expand-md justify-content-center">
        <a aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="collapsed navbar-toggler"
          data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
          Menu
        </a>
        <div class="collapse navbar-collapse justify-content-center" id="navbar">
          <a class="" href="{{site.baseurl}}/">Shinwoo Kim</a>
          {% for node in page.nav-links %} {% if page.url == node.url %}
          <a class="active" href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
          {% else %}
          <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
          {% endif %} {% endfor %}
        </div>
      </nav>
    </header>
    {% else %}
    <header>
      <nav><a href="{{site.baseurl}}/">Shinwoo Kim</a></nav>
    </header>
    {% endif %}
  </div>
  <div>
    <article class="">
      <h1 class="title mb-0">{{page.title}}</h1>
      <p class="subtitle mb-0">{{page.subtitle}}</p>
      {{content}}
      <button onclick="topFunction()" id="top-btn" class="btn btn-dark d-print-none" title="Go to top">
        Top
      </button>
    </article>
    <script>
      let btn_to_top = document.getElementById("top-btn");
      window.onscroll = function () {
        scrollFunction();
      };
      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          btn_to_top.style.opacity = "100%";
        } else {
          btn_to_top.style.opacity = "0%";
        }
      }
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Ope`
      }
    </script>
    <hr class="mx-auto slender" />
    <footer class="site-footer text-center">
      <p class="mb-0 mx-auto">
        &copy; 2021-2023 Shinwoo Kim. All Rights Reserved.<br />
        <a href="#" onclick="history.back()">Return to Previous Page</a>
      </p>
    </footer>
  </div>
  {% include google-analytics.html %}
</body>
</html>